#citaContainer{
    position: relative;
    top: 10%;
}

.parentCardActions {
  padding: 7%;
}
.cardActions {
  transition: transform 0.5s ease-out;
}

.cardActions:hover {
  transform: scale(1.2);
  z-index: 1;
}

.cardsAppointments{
    padding: 2%;
    border-radius: 25px;
    width: 30%;
}

#appointemnsContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}

#editionCard{
    gap: 15px;
}

